@*@page*@
@model MyJobSite.Web.ViewModels.InputModels.CompanyInfoInputModel
@{
    ViewData["Title"] = "CompanyInfo";
}

<!DOCTYPE html>
<html lang="en">


<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="keywords" content="" />
    <meta name="author" content="" />
    <meta name="robots" content="" />
    <meta name="description" content="JobBoard - HTML Template" />
    <meta property="og:title" content="JobBoard - HTML Template" />
    <meta property="og:description" content="JobBoard - HTML Template" />   
    <meta property="og:image" content="JobBoard - HTML Template" />
    <meta name="format-detection" content="telephone=no">

    <!-- FAVICONS ICON -->
    <link rel="icon" href="/images/favicon.ico" type="image/x-icon" />
    <link rel="shortcut icon" type="image/x-icon" href="/images/favicon.png" />

    <!-- PAGE TITLE HERE -->
    <title>JobBoard - HTML Template</title>

    <!-- MOBILE SPECIFIC -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--[if lt IE 9]>
    <script src="js/html5shiv.min.js"></script>
    <script src="js/respond.min.js"></script>
    <![endif]-->
    <!-- STYLESHEETS -->
    <link rel="stylesheet" type="text/css" href="css/plugins.css">
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <link rel="stylesheet" type="text/css" href="css/templete.css">
    <link class="skin" rel="stylesheet" type="text/css" href="css/skin/skin-1.css">
    <link rel="stylesheet" href="plugins/datepicker/css/bootstrap-datetimepicker.min.css" />
    <!-- Revolution Slider Css -->
    <link rel="stylesheet" type="text/css" href="plugins/revolution/revolution/css/layers.css">
    <link rel="stylesheet" type="text/css" href="plugins/revolution/revolution/css/settings.css">
    <link rel="stylesheet" type="text/css" href="plugins/revolution/revolution/css/navigation.css">
    <!-- Revolution Navigation Style -->
</head>
<body id="bg">
    <div class="page-wraper">
        <div id="loading-area"></div>
        <!-- Content -->
        <div class="page-content bg-white">
            <!-- inner page banner -->
            <div class="dez-bnr-inr overlay-black-middle bg-pt" style="background-image:url(/images/banner/bnr2.jpg);">
                <div class="container">
                    <div class="dez-bnr-inr-entry">
                        <h1 class="text-white">Company Information</h1>
                        <!-- Breadcrumb row -->
                        <div class="breadcrumb-row">
                            <ul class="list-inline">
                                <li><a href="#">Register</a></li>
                                <li>Additional Information</li>
                            </ul>
                        </div>
                        <!-- Breadcrumb row END -->
                    </div>
                </div>
            </div>
            <!-- inner page banner END -->
            <!-- contact area -->
            <div class="section-full content-inner shop-account">
                <!-- Product -->
                <div class="container">
                    <div class="row">
                        <div class="col-md-12 text-center">
                            <h3 class="font-weight-700 m-t0 m-b20">Add Information About The Company</h3>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 m-b30">
                            <div class="p-a30 border-1  max-w500 m-auto">
                                <div class="tab-content">
                                    <form form id="company_info" class="tab-pane active" method="post" enctype="multipart/form-data">
                                        <div class="note">
                                            <small id="formHelp" class="form-text text-muted">Everything marked with "*" is requiured.</small>
                                        </div>
                                        <div class="form-group">
                                            <label asp-for="Name" >Company Name *</label>
                                            <input asp-for="Name" type="text" class="form-control" id="company_name" aria-describedby="emailHelp" placeholder="Company Name">
                                            <span asp-validation-for="Name" class="text-danger"></span>
                                        </div>
                                        <div class="form-group">
                                            <label asp-for="Logo">Company Logo *</label>
                                            <input asp-for="Logo" type="file" class="form-control" id="company_logo" placeholder="Logo">
                                            <span asp-validation-for="Logo" class="text-danger"></span>
                                        </div>
                                        <div class="form-group">
                                            <label asp-for="Description">Description *</label>
                                            <input asp-for="Description" type="text" class="form-control" id="description" placeholder="Say something about your company">
                                            <span asp-validation-for="Description" class="text-danger"></span>
                                        </div>
                                        <div class="form-group">
                                            <label asp-for="PhoneNumber">PhoneNumber</label>
                                            <input asp-for="PhoneNumber" type="text" class="form-control" id="description" placeholder="Company Phone Number">
                                            <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                                        </div>
                                        <div class="form-group">
                                            <label asp-for="Address">Address *</label>
                                            <input asp-for="Address" type="text" class="form-control" id="address" placeholder="Company Address">
                                            <span asp-validation-for="Address" class="text-danger"></span>
                                        </div>
                                        <button type="submit" class="btn btn-primary">Submit</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Product END -->
            </div>
            <!-- contact area  END -->
        </div>
        <!-- Content END-->
        <button class="scroltop fa fa-chevron-up"></button>
    </div>
    <!-- JAVASCRIPT FILES ========================================= -->
    <script src="/js/jquery.min.js"></script><!-- JQUERY.MIN JS -->
    <script src="/plugins/wow/wow.js"></script><!-- WOW JS -->
    <script src="/plugins/bootstrap/js/popper.min.js"></script><!-- BOOTSTRAP.MIN JS -->
    <script src="/plugins/bootstrap/js/bootstrap.min.js"></script><!-- BOOTSTRAP.MIN JS -->
    <script src="/plugins/bootstrap-select/bootstrap-select.min.js"></script><!-- FORM JS -->
    <script src="/plugins/bootstrap-touchspin/jquery.bootstrap-touchspin.js"></script><!-- FORM JS -->
    <script src="/plugins/magnific-popup/magnific-popup.js"></script><!-- MAGNIFIC POPUP JS -->
    <script src="/plugins/counter/waypoints-min.js"></script><!-- WAYPOINTS JS -->
    <script src="/plugins/counter/counterup.min.js"></script><!-- COUNTERUP JS -->
    <script src="/plugins/imagesloaded/imagesloaded.js"></script><!-- IMAGESLOADED -->
    <script src="/plugins/masonry/masonry-3.1.4.js"></script><!-- MASONRY -->
    <script src="/plugins/masonry/masonry.filter.js"></script><!-- MASONRY -->
    <script src="/plugins/owl-carousel/owl.carousel.js"></script><!-- OWL SLIDER -->
    <script src="/plugins/rangeslider/rangeslider.js"></script><!-- Rangeslider -->
    <script src="/js/custom.js"></script><!-- CUSTOM FUCTIONS  -->
    <script src="/js/dz.carousel.js"></script><!-- SORTCODE FUCTIONS  -->
    <script src="/js/dz.ajax.js"></script><!-- CONTACT JS  -->


</body>


</html>

